/* --- FORMATAÇÃO INICIAL --- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #d5d5d5;
    background-color: #282828;
}

h3 {
    margin-top: 20px;
}

a {
    color: #fff001;
    text-decoration: none;
}

u {
    color: #fff001;
}

p {
    text-align: justify;
}

/* --- FORMATAÇÃO INICIAL FIM --- */

/* --- HEADER --- */

.cabecario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5b09b1;
    border-bottom: 2px solid #282828;
}

.img_logo {
    margin-left: 50px;
    width: 100px;
    background-color: #5b09b1;
}

.img_banner {
    margin-right: 50px;
    width: 350px;
    background-color: #5b09b1;
}

/* --- HEADER FIM --- */

/* --- NAV MENU --- */

.menu {
    display: flex;
    justify-content: center;
    background-color: #5b09b1;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #5b09b1;
}

/* --- NAV MENU FIM --- */

/* --- MAIN --- */

.container {
    display: flex; /* Ativa o Flexbox para alinhar itens lado a lado */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    padding: 1rem;
    gap: 1rem; /* Adiciona um espaçamento entre os elementos filhos */
}

.conteudo_principal {
    width: 80%;
    padding: 1rem;
}

aside {
    width: 20%;
}

.nav_lateral {
    border-left: 1px solid #d5d5d5;
    padding: 1rem;
}

.nav_lateral ul li {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d5d5d5;
}

article {
    margin-bottom: 1rem;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 1rem;
}

.artigos h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff001;
}

.lista_artigos {
    margin-left: 30px;
    margin-bottom: 0.5rem;
    list-style-type: disc;
}

.artigos a {
    display: block;
    margin-top: 1rem;
    color: #fff001;
}

/* Para garantir que os articles fiquem empilhados verticalmente dentro da section */
section {
    display: flex;
    flex-direction: column; /* Organiza os articles em coluna (um abaixo do outro) */
    gap: 1rem;
}

/* --- MAIN FIM --- */

/* --- RODAPE --- */

.rodape {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff001;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #5b09b1;
    display: flex;
    justify-content: space-between;
}

.rodape p {
    color: #fff001;
    font-size: 15px;
    padding-left: 50px;
    background-color: #5b09b1;
}

.links_rodape {
    justify-content:center;
    background-color: #5b09b1;
}

.links_rodape li {
    display: inline-block;
    text-align: center;
    background-color: #5b09b1;
}

.links_rodape a {
    font-size: 15px;
    color: #fff001;
    background-repeat: no-repeat;
    padding-right: 50px;
    background-color: #5b09b1;
}

/* --- RODAPE FIM --- */

/* --- CALCULADORA CONSUMO COMBUSTÍVEL --- */

.barras {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

#resultado {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* --- CALCULADORA CONSUMO COMBUSTÍVEL FIM --- */