/* --- FORMATAÇÃO INICIAL --- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #d5d5d5;
    background-color: #282828;
}

h3 {
    margin-top: 20px;
}

a {
    color: #fff001;
    text-decoration: none;
}

u {
    color: #fff001;
}

p {
    text-align: justify;
}

/* --- FORMATAÇÃO INICIAL FIM --- */

/* --- HEADER --- */

.cabecario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5b09b1;
    border-bottom: 2px solid #282828;
}

.img_logo {
    margin-left: 50px;
    width: 100px;
    background-color: #5b09b1;
}

.img_banner {
    margin-right: 50px;
    width: 350px;
    background-color: #5b09b1;
}

/* --- HEADER FIM --- */

/* --- NAV MENU --- */

.menu {
    display: flex;
    justify-content: center;
    background-color: #5b09b1;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #5b09b1;
}

/* --- NAV MENU FIM --- */

/* --- MAIN --- */

.container {
    display: flex; /* Ativa o Flexbox para alinhar itens lado a lado */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    padding: 1rem;
    gap: 1rem; /* Adiciona um espaçamento entre os elementos filhos */
}

.conteudo_principal {
    width: 80%;
    padding: 1rem;
}

.conteudos {
    width: 100%;
    gap: 1rem; /* Espaçamento entre os elementos filhos */
}

.artigos p {
    margin: 15px 0;
}

aside {
    width: 20%;
}

.nav_lateral {
    border-left: 1px solid #d5d5d5;
    padding: 1rem;
}

.nav_lateral ul li {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d5d5d5;
}

article {
    margin-bottom: 1rem;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 1rem;
}

.artigos h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff001;
}

.lista_artigos {
    margin-left: 30px;
    margin-bottom: 0.5rem;
    list-style-type: disc;
}

.artigos a {
    display: block;
    margin-top: 1rem;
    color: #fff001;
}

/* Para garantir que os articles fiquem empilhados verticalmente dentro da section */
section {
    display: flex;
    flex-direction: column; /* Organiza os articles em coluna (um abaixo do outro) */
    gap: 1rem;
}

.img_artigo {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 50px auto;
    border-top: 5px solid #d5d5d5;
    border-left: 5px solid #d5d5d5;
    border-right: 5px solid #d5d5d5;
    border-bottom: 40px solid #d5d5d5;
}

.foto img {
    border-top: 5px solid #d5d5d5;
    border-left: 5px solid #d5d5d5;
    border-right: 5px solid #d5d5d5;
    border-bottom: 50px solid #d5d5d5;
}

/* --- MAIN FIM --- */

/* --- GALERIA DE FOTOS INICIO --- */

.container_galeria {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8%;
}

.galeria > div {
    float: left;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
}

.foto img {
    width: 100%;
    display: block;
}

.legenda_foto {
    display: none;
}

.galeria .foto:target {
    position: fixed;
    width: 35%;
    top: 15px;
    left: 30%;
    padding: 5px;
    border: solid 1px #333;
    box-shadow: 0 0 25px 10px #000;
    border-radius: 5px;
}

.foto:target .legenda_foto {
    display: block;
}

/* --- GALERIA DE FOTOS FIM --- */

/* --- RODAPE --- */

.rodape {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff001;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #5b09b1;
    display: flex;
    justify-content: space-between;
}

.rodape p {
    color: #fff001;
    font-size: 15px;
    padding-left: 50px;
    background-color: #5b09b1;
}

.links_rodape {
    justify-content:center;
    background-color: #5b09b1;
}

.links_rodape li {
    display: inline-block;
    text-align: center;
    background-color: #5b09b1;
}

.links_rodape a {
    font-size: 15px;
    color: #fff001;
    background-repeat: no-repeat;
    padding-right: 50px;
    background-color: #5b09b1;
}

/* --- RODAPE FIM --- */

/* --- CALCULADORA CONSUMO COMBUSTÍVEL --- */

.barras {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.barras input {
    width: 40%;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    color: #282828;
    background-color: #fff001;
    border-radius: 15px;
}

#resultado {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* --- CALCULADORA CONSUMO COMBUSTÍVEL FIM --- */

/* --- FORMATAÇÃO PARA CELULAR INÍCIO --- */

@media (max-width: 620px) {
    .container {
        flex-direction: column;
    }

    .conteudo_principal, aside {
        width: 100%;
    }

    .img_logo {
        margin: 0 auto;
        display: block;
    }

    .img_banner {
        margin: 20px auto 0 auto;
        display: block;
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .nav_menu li a {
        padding: 2px;
        font-size: 0.6rem;
    }

    .nav_menu li a u {
        padding: 2px;
        font-size: 0.6rem;
    }

    .img_banner {
        margin: 5px auto 0 auto;
        display: block;
        width: 100%;
        max-width: 300px;
    }

    .container_galeria {
        display: block;
        padding: 0;
    }

    .galeria div {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .galeria .foto:target {
    position: fixed;
    width: 90%;
    top: 15px;
    left: 5%;
    padding: 5px;
    border: solid 1px #333;
    box-shadow: 0 0 25px 10px #000;
    border-radius: 5px;
    }

    .foto:target .legenda_foto {
        display: block;
    }
}

/* --- FORMATAÇÃO PARA CELULAR FIM --- */
